@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&display=swap");

html {
  font-size: 72.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

:root {
  --mainColor--: #0c8d5c;
  --navbar--: #63ecb8;
}

.logo {
  font-size: 1.8rem;
  padding-left: 2rem;
}
.navbar {
  display: flex;
  background-color: var(--navbar--);
  justify-content: space-between;
  align-items: center;
}

.navbar >.logo{
  height: 50px;
  width: 125px;
  margin-top: 5px;
}

.navbar__links {
  display: flex;
  list-style: none;
  margin-right: 4rem;
  cursor: pointer;
  font-size: 2rem;
}

.navbar__link {
  margin: auto 1.2rem;
  font-size: 1.2rem;
}

@media (min-width: 992px) {
  .navbar__small {
    display: none;
  }
}

@media (max-width: 992px) {
  .navbar {
    display: none;
  }

  .sidebar {
    width: 8rem;
    height: 100%;
    background-color: var(--navbar--);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
  }

  .menu__icons {
    margin-top: 3rem;
    cursor: pointer;
  }

  .menu__icons:hover > .line {
    width: 2.5rem;
    transition: 0.5s;
  }

  .line {
    height: 0.2rem;
    width: 2.5rem;
    background-color: darkblue;
    margin-bottom: 0.6rem;
    margin-top: 0.7rem;
  }

  .line__1,
  .line__3 {
    width: 1.8rem;
    background-color: var(--mainColor--);
  }

  .year {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: rgb(65, 63, 63);
  }

  .navigation {
    left: -32rem;
    position: fixed;
    width: 40rem;
    height: 100%;
    background: linear-gradient(
        to top,
        rgba(34, 32, 41, 1),
        rgba(32, 34, 41, 0.8)
      ),
      url(../img/nav-bg.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: left 0.5s cubic bezier(1, 0, 0, 1);
  }

  .navigation__heading {
    height: 60px;
    width: 150px;
    margin-left: 125px;
  }

  .navigation__search {
    position: relative;
  }

  .navigation__search__input {
    width: 30rem;
    padding: 1rem 2rem;
    background-color: rgb(255, 255, 255);
    font-family: "Times New Roman", Times, serif;
    font-size: 1.6rem;
    color: var(--mainColor--);
    letter-spacing: 0.1rem;
    outline: none;
    border: 0.1rem solid #5555;
    border-radius: 4rem;
    transition: 0.3s;
  }

  .navigation__search__input :focus {
    background-color: rgba(255, 255, 255, 0.945);
  }

  .navigation__search__btn {
    border: none;
    color: var(--mainColor--);
    font-size: 1.7rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    outline: none;
  }

  .navigation__search__btn > .fa {
    background-color: transparent;
  }

  .navigation__list {
    list-style: none;
    padding: 0;
    height: 28rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .navigation__item {
    position: relative;
  }

  .navigation__link {
    color: white;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
  }

  .navigation__link ::before {
    content: "";
    width: 0rem;
    height: 0.1rem;
    background-color: var(--mainColor--);
    position: absolute;
    top: 1rem;
    left: -4rem;
  }

  .navigation__link::after {
    content: "";
    width: 0rem;
    height: 0.1rem;
    background-color: var(--mainColor--);
    position: absolute;
    top: 1rem;
    left: -4rem;
  }

  .navigation__link:hover {
    color: var(--mainColor--);
  }

  .navigation__link::after,
  .navigation__link::before {
    width: 3rem;
    transition: 0.5s cubic-bezier(1, 0, 0, 1);
  }

  .copyright {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }

  .checkbox:checked ~ .navigation {
    left: 8rem;
  }

  .checkbox {
    display: none;
  }

  .checkbox:checked ~ .sidebar .line__1 {
    transform: rotate(-405deg) translate(-6px, 8px);
    width: 2.5rem;
    transition: 0.5s;
    margin: 0.8rem;
  }

  .checkbox:checked ~ .sidebar .line__2 {
    opacity: 0;
  }

  .checkbox:checked ~ .sidebar .line__3 {
    transform: rotate(405deg) translate(-6px, -8px);
    width: 2.5rem;
    transition: 0.5s;
    margin: 0.8rem;
  }
}

@media (max-width: 550px) {
  .sidebar {
    width: 5rem;
  }
  .navigation {
    width: 24rem;
  }
  .navigation__search__input {
    width: 16rem;
  }
  .navigation__link {
    font-size: 1.2rem;
  }
  .navigation__heading {
    font-size: 2.5rem;
  }
  .checkbox:checked ~ .navigation {
    left: 5rem;
    top: 5rem;
  }
}
